Package: %(component_name)s
Priority: optional
Section: misc
Maintainer: %(component_maintainer_name)s <%(component_maintainer_email)s>
Architecture: all
Version: %(component_version)s
Depends: %(component_depends)s
Description: %(component_name)s-%(component_version)s
