Name: %(component_name)s
Group: Applications/System
Packager: %(component_maintainer_name)s <%(component_maintainer_email)s>
Version: %(component_version)s
Release: %(component_release)s
Summary: %(component_name)s-%(component_version)s
License: Commercial
Requires: %(component_depends)s
AutoReq: 0
%%description
%(component_description)s
%%files -f INSTALLED_FILES

